body {
  overflow-x: auto;
  font-family: 'Montserrat', sans-serif;
}

.btn-primary {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  padding: 30px;
  color:white;
  font-size: 40px;
  background-color: #f00f80;
  border-color: #e5e90ce7;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: yellow;
  border-color: #f00f80;;
  color: black;
}

header.masthead {
  text-align: center;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-color: #212529;
}

#outputError{
  background-color: #f00f80;
  display:block;
  color: #e5e90ce7;
  font-family: 'Amatic SC', cursive;
  font-size: 42px;
}

.intro-lead-in{
  font-size: 42px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 25px;
  Color: black;
  font-family: 'Amatic SC', cursive;
}

.answeris{
  font-size: 22px;
  font-family: 'Amatic SC', cursive;
  visibility: hidden;
}

.answeris:active, .answeris:focus, .answeris:hover {
  background-color: yellow;
}

header.masthead  {
  padding-top: 200px;
  padding-bottom: 200px;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Indie Flower', cursive;
}

.image_to_guess{
  position:absolute;
  right:40%;
  top:13%;
  visibility: hidden;
  width: 300px;
  height: 350px;  
  background-color: black;
  padding: 10px;
}

footer {
  padding: 25px 0;
  text-align: center;
  background-color: #212529;
  color: white;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Indie Flower', cursive;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Indie Flower', cursive;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 30px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #ec09a8;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}
  
.soon {
  position: relative;
  font-size: 35px;
  font-weight: bolder;
  left: 0%;
  bottom: 0%;
  color: black;
  border: 0;
  font-family: 'Indie Flower', cursive;
  visibility: hidden;
}

.scoreboard{
    position:fixed;
    font-size: 35px;
    color: white;
    font-weight: bolder;
    top:5%;
    right:19%;
    width: 50px;
    height: 40px;
    z-index: 100;
}
  
#updateScreen{
  font-size: 45px;
  color: black;
  line-height: 40px;
}

@media screen and (max-width: 600px) {
  .image_to_guess{
    position: absolute;;
    width: 300px;
    height: 350px;  
    left:30px;
    top:18%;
  }
  .scoreboard{
    position:absolute;
    top:0%;
    right:19%;
    width: 70px;
    height: 40px;
    z-index: 100;
  
}
}